---
import Biographie from "#components/about/biographie/Biographie.astro"
import Resume from "#components/about/resume/Resume.astro"
import Layout from "#layouts/Layout.astro"
---

<Layout title="À propos de Roland Potin Eizner.">
  <div class="container mb-6 grid justify-center gap-6 lg:mb-24 lg:grid-cols-2 lg:gap-9">
    <Biographie />
    <Resume />
  </div>
</Layout>
