---
import Menu from "#widgets/navigation/Menu.astro"
import { routes } from "#constants/routes.ts"
const baseUrl = import.meta.env.BASE_URL
---

<header role="banner" class="bg-gray-200/60 px-2 py-3 md:px-8 md:py-4 xl:py-5">
  <nav
    role="navigation"
    class="container mx-auto flex items-center justify-center gap-4 md:justify-between md:gap-5 lg:gap-6 xl:gap-7 2xl:gap-8"
  >
    <a
      title="Aller à la page d'accueil"
      href={baseUrl + routes[0].href}
      class="font-daniel text-3xl font-bold hover:text-gray-900 xl:text-4xl"
      aria-label="Aller à la page d'accueil"
    >
      Roland Potin Eizner
    </a>
    <Menu />
  </nav>
</header>
