---
import Menu from "#widgets/navigation/Menu.astro"
---

<header role="banner" class="bg-gray-200/30 ~py-3/5">
  <nav role="navigation" class="container flex items-center justify-center ~gap-4/8 md:justify-between">
    <a
      title="Aller à la page d'accueil"
      href="/"
      class="font-daniel ~text-3xl/4xl"
      aria-label="Aller à la page d'accueil"
    >
      Roland Potin Eizner
    </a>
    <Menu />
  </nav>
</header>
