---
import photoRoland from "#assets/images/roland01.jpg"
import { Picture } from "astro:assets"

const baseUrl = import.meta.env.BASE_URL
---

<section
  class="prose prose-h2:text-center md:prose-h1:mb-20 prose-h2:text-xl prose-img:rounded-xl prose-img:object-cover prose-img:object-center prose-img:shadow-xl prose-p:mx-auto prose-p:max-w-[50ch] prose-h1:text-center prose-h1:font-bold prose-h2:mt-20 prose-video:my-20 prose-h1:text-2xl lg:prose-h1:text-3xl mx-auto mt-5 md:mt-10"
>
  <h1>Mon histoire</h1>

  <p>
    Je suis né très petit, recroquevillé sur un monde bizarre. On m’a fait crier tout de suite et le monde fut
    immédiatement trop grand.
  </p>
  <p>
    J’ai aimé l’herbe et la lumière passante qui éclaire miraculeusement les petits insectes plein de pattes, d’ailes,
    d’yeux noirs et rouges dans les petits couloirs multiples qui donnaient vers d’autres mondes.
  </p>
  <p>
    Bientôt, il a fallu se mettre debout et parler, comme si cela allait de soi. Je retombais sur mon derrière et
    bégayais à l’infini.
  </p>
  <p>
    Mes cheveux blanc-blond furent coupés et l’école me mis debout. Il fallait se battre comme un garçon, je le fis avec
    trop de force pour être intelligible, cela me parut encore bizarre. Je fus gentil et muet.
  </p>
  <p>
    Un jour, je pénètre dans l’appartement puis le château du collectionneur <b>Henri-Pierre Roché</b>, et là, merveille
    je fais des rencontres extraordinaires: des tableaux, des sculptures, des objets multiples me font face, s’animent
    et me parlent.
  </p>
  <p>Ces jours là je parle avec eux, complice et joyeux, je suis dans mon monde...</p>

  <i class="mx-auto my-10 block h-8 w-8 text-gray-300 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14"
    ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 536.715 451.927" aria-hidden="true" fill="currentColor">
      <path fill-rule="evenodd" d="M206.125 396.73V0L7.765 198.36v198.36zm330.59 0V0l-198.36 198.36v198.36z"></path>
    </svg>
  </i>

  <Picture src={photoRoland} alt="Roland de face pointant un élément de sculpture." />

  <i class="mx-auto my-10 block h-8 w-8 text-gray-300 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14"
    ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 536.715 451.927" aria-hidden="true" fill="currentColor"
      ><path fill-rule="evenodd" d="M206.125 396.73V0L7.765 198.36v198.36zm330.59 0V0l-198.36 198.36v198.36z"
      ></path></svg
    ></i
  >

  <p>... Plus tard, j’apprendrais que toutes ces œuvres étaient signées.</p>
  <p>
    Les signatures étaient entre autre, celles de <b>Georges Braque</b>, <b>Constantin Brancusi</b>, <b
      >Marcel Duchamp</b
    >, <b>Pablo Picasso</b>,
    <b>Henry Moore</b>, <b>Etienne Martin</b>, <b>Marie Laurencin</b>, <b>Jean Tinguely</b>, <b>José Garcia Tella</b>, <b
      >Sanyu</b
    >, etc.
  </p>
  <p>Je compris le sacré et la douleur et ma voie dans l’existence.</p>
  <p>
    Quelques années après, toujours muet et la mémoire pleine, je savais que la communication tant désirée se trouvait
    en moi. Tous ces personnages pouvaient me comprendre, avec eux aussi je pouvais discuter et échanger.
  </p>
  <p>
    L’acte de peindre me fut assez vite naturel. Mon destin pris en main fit le reste. La recherche du dialogue au
    travers de tableaux presque autobiographiques, mon Graal quotidien.
  </p>
  <p class="text-end">—Roland Potin-Eizner</p>

  <hr class="separator opacity-10" />

  <h2>“Les gens d’ici”, réalisé par Sylvie Bosquéro.</h2>
  <p class="text-center">Reportage FR3 Lyon Rhône-Alpes</p>
  <video src={`${baseUrl}videos/reportage-fr3.mp4`} controls class="w-full"></video>

  <hr class="separator opacity-10" />

  <h2>“Portes ouvertes d'artiste”, réalisé par Julien Prud'homme.</h2>
  <p class="text-center">Pour la ville de Gennevilliers</p>
  <video src={`${baseUrl}videos/gennevilliers.mp4`} controls class="w-full"></video>
</section>
