<article>
  <hr class="separator opacity-10" />
  <h2>Ce que dit le le Delarge</h2>
  <blockquote>
    <p class="mt-0">
      Dans des huiles posées avec précision sur un décor soigné, support en bois
      ou portail en biseau, il décline des ostéomorphes placés plus souvent
      verticalement sur fond uni noir de préférence, fichés sur un tube
      d&apos;acier ou articulés les uns aux autres, formant un monde sculptural
      étrange.
    </p>
    <p>
      De temps à autre une allusion au vivant comme cette construction dans
      laquelle se détache un bec d&apos;oiseau.
    </p>
    <p>
      Si Hellée, (1999) représente cette peinture dans laquelle la sculpture est
      implicite, il annonce une explicite sculpture de bois, peint, Hellée,
      (2009).
    </p>
    <p>
      Un portique laisse pendre, ossement acérés, des cadres et des boules dans
      une allégorie létale de tarlatane colorée. 2007
    </p>
  </blockquote>
  <p class="text-end text-base">
    <a
      target="_blank"
      title="Le Dictionnaire des arts plastiques modernes et contemporains"
      href="https://www.ledelarge.fr/27427_artiste_POTIN_EIZNER_Rolandj"
      >—Le Delarge</a
    >
  </p>
</article>
