@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Daniel";
    font-style: normal;
    src: url("/src/assets/fonts/daniel.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Danielbd";
    font-style: bold;
    src: url("/src/assets/fonts/danielbd.ttf");
    font-display: swap;
  }
}

.shape-circle {
  shape-outside: circle(50%);
}

.grid-stack {
  display: grid;
  grid-template-areas: "grid-stack";
}

.grid-stack > * {
  grid-area: grid-stack;
}
