@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Daniel";
    font-style: normal;
    src: url("/src/assets/fonts/daniel.ttf");
    font-display: swap;
  }
}

@layer components {
  .grid-stack {
    display: grid;
    place-content: center;
  }
  .grid-stack > * {
    grid-area: 1 / 1;
  }
}
