---
import { getCollection } from "astro:content";

const resumeCollection = await getCollection("resume");
const resume = await Promise.all(
  resumeCollection
    .sort((a, b) => b.data.start - a.data.start)
    .map(async (entry) => {
      const { Content } = await entry.render();
      return { ...entry.data, Content };
    }),
);
---

<section class="container mx-auto mt-6 space-y-8 md:mt-12">
  {
    resume.map(({ start, end, Content }) => (
      <article class="flex flex-col sm:flex-row">
        <h6 class="flex-shrink-0 border-t border-solid border-gray-500 px-3 py-1 font-semibold lg:text-xl">
          {end && <span class="block">{end}</span>}
          <span class="block">{start}</span>
        </h6>
        <div class="prose max-w-none flex-grow md:prose-lg lg:prose-xl prose-ul:list-none prose-ul:px-2 sm:border-b sm:border-l sm:border-solid sm:border-gray-500">
          <Content />
        </div>
      </article>
    ))
  }
</section>
