---
import { getCollection } from "astro:content"

const resumeCollection = await getCollection("resume")
const resume = await Promise.all(
  resumeCollection
    .sort((a, b) => b.data.start - a.data.start)
    .map(async entry => {
      const { Content } = await entry.render()
      return { ...entry.data, Content }
    })
)
---

<section class="container mx-auto space-y-8">
  {
    resume.map(({ start, end, Content }) => (
      <article class="flex">
        <h6 class="flex-shrink-0 border-t border-solid border-gray-500 px-3 py-1 font-semibold">
          {end && <span class="block">{end}</span>}
          <span class="block">{start}</span>
        </h6>
        <div class="prose max-w-none flex-grow border-b border-l border-solid border-gray-500 md:prose-lg lg:prose-xl prose-ul:list-none">
          <Content />
        </div>
      </article>
    ))
  }
</section>
