---
import { getCollection } from "astro:content"

const resumeCollection = await getCollection("resume")
const resume = await Promise.all(
  resumeCollection
    .sort((a, b) => b.data.start - a.data.start)
    .map(async (entry) => {
      const { Content } = await entry.render()
      return { ...entry.data, Content }
    })
)
---

<section class="space-y-8">
  {
    resume.map(({ start, end, Content }) => (
      <article class="flex">
        <h2 class="flex-shrink-0 py-1 px-3 font-semibold border-t border-gray-500 border-solid">
          {end && <span class="block">{end}</span>}
          <span class="block">{start}</span>
        </h2>
        <div class="flex-grow max-w-none border-b border-l border-gray-500 border-solid prose prose-ul:list-none">
          <Content />
        </div>
      </article>
    ))
  }
</section>
