---
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"
import Root from "../../components/layout/Root.astro"
import Pagination from "../../components/navigation/Pagination.astro"
import Single from "../../components/painting/Single.astro"

export const getStaticPaths = (async ({ paginate }) => {
  const paintings = (await getCollection("painting")).sort(
    (a, b) => b.data.year.valueOf() - a.data.year.valueOf()
  )

  return paginate(paintings, { pageSize: 10 })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Root title={`Peinture. Page ${page.currentPage} of ${page.lastPage}. - Roland Potin Eizner.`}>
  <section>
    {page.data.map((painting) => <Single painting={painting.data} />)}
  </section>
  <Pagination page={page} />
</Root>
