---
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"
import Root from "../../components/layout/Root.astro"
import Pagination from "../../components/navigation/Pagination.astro"
import Single from "../../components/painting/Single.astro"

export const getStaticPaths = (async ({ paginate }) => {
  const paintings = (await getCollection("painting")).sort(
    (a, b) => b.data.year.valueOf() - a.data.year.valueOf()
  )

  return paginate(paintings, { pageSize: 10 })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Root title={`Peinture. Page ${page.currentPage} of ${page.lastPage}. - Roland Potin Eizner.`}>
  <section
    class="container mx-auto overflow-y-scroll motion-reduce:scroll-smooth snap-y snap-mandatory h-[calc(100vh-7rem)] md:h-[calc(100vh-8rem)] lg:h-[calc(100vh-9rem)] xl:min-h-[calc(100vh-10rem)] 2xl:min-h-[calc(100vh-11rem)]"
  >
    {
      page.data.map((painting) => {
        const isLastItem = page.data.indexOf(painting) === page.data.length - 1
        return (
          <Single painting={painting.data}>
            {isLastItem && (
              <footer class="col-span-full mt-8">
                <Pagination page={page} />
              </footer>
            )}
          </Single>
        )
      })
    }
  </section>
</Root>
