---
import Root from "../../components/layout/Root.astro"
import Single from "../../components/painting/Single.astro"
import { getCollection } from "astro:content"

const collection = await getCollection("painting")
const paintings = collection.sort((a, b) => b.data.year - a.data.year)
---

<Root title="Peintures - Roland Potin Eizner.">
  <section class="space-y-32 md:space-y-80">
    {paintings.map((painting) => <Single painting={painting.data} />)}
  </section>
</Root>
