---
import Menu from "../navigation/Menu.astro"
---

<footer class="content-center h-8 bg-gray-200">
  <nav class="flex justify-around sm:hidden">
    <Menu />
  </nav>
  <h4 class="hidden sm:inline">FOOTER</h4>
</footer>
