---
import Menu from "../navigation/Menu.astro"

const { BASE_URL } = import.meta.env
---

<header class="sticky top-0 z-50 bg-gray-200">
  <nav
    class="container h-[--header-height] content-center items-center pt-[calc(var(--header-height)*0.2)] ~gap-4/8 md:flex"
  >
    <a
      href={BASE_URL}
      aria-label={`Go to Roland Potin Eizner Homepage`}
      class="block text-center font-daniel ~text-3xl/5xl"
    >
      Roland Potin Eizner
    </a>
    <Menu />
  </nav>
</header>
