---
const links = [
  {
    title: "Accueil",
    href: "/astroland",
  },
  {
    title: "Peinture",
    href: "/astroland/painting/1",
  },
  {
    title: "À propos",
    href: "/astroland/about",
  },
]
---

<header class="py-4 md:py-10 sticky top-0 bg-inherit">
  <nav class="container mx-auto flex justify-between items-center">
    <span
      class="font-daniel text-2xl mr-auto sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
    >
      Roland Potin Eizner
    </span>
    {
      links.map((link) => (
        <a
          href={link.href}
          aria-label={`Go to ${link.title} page`}
          class="text-gray-800 hover:text-gray-900 ml-4"
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
