---
import Menu from "../navigation/Menu.astro"
---

<header
  class="sticky top-0 z-50 content-center h-[--header-height] bg-gray-50 container items-center mx-auto sm:flex sm:justify-between"
>
  <a
    href="/astroland/"
    aria-label={`Go to Homepage`}
    class="block text-3xl text-center sm:inline sm:w-auto sm:text-start sm:mr-auto font-daniel md:text-4xl lg:text-5xl xl:text-6xl"
  >
    Roland Potin Eizner
  </a>
  <nav
    class="hidden sm:flex sm:w-auto sm:justify-between sm:gap-8 md:gap-10 lg:gap-12 xl:gap-14 2xl:gap-16"
  >
    <Menu />
  </nav>
</header>
