---
const path2lvldeep = (path: string) => path.split("/").slice(0, 3).join("/") + "/"
const paths = [
  {
    title: "Accueil",
    href: "/astroland/",
  },
  {
    title: "Peinture",
    href: "/astroland/painting/1/",
  },
  {
    title: "À propos",
    href: "/astroland/about/",
  },
]
---

<header class="sticky top-0 z-50 content-center h-[--header-height] bg-inherit">
  <nav
    class="container flex gap-2 justify-around items-center mx-auto sm:justify-between sm:gap-8 md:gap-10 lg:gap-12 xl:gap-14 2xl:gap-16"
  >
    <span
      class="hidden mr-auto text-2xl sm:inline font-daniel sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
    >
      Roland Potin Eizner
    </span>
    {
      paths.map((path) => {
        const isCurrent = path2lvldeep(path.href) === path2lvldeep(Astro.url.pathname)
        return (
          <a
            href={path.href}
            aria-label={`Go to ${path.title} page`}
            class={`${isCurrent ? "text-gray-900" : "text-gray-600"} hover:text-gray-900 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl`}
          >
            {path.title}
          </a>
        )
      })
    }
  </nav>
</header>
