---
import Menu from "../navigation/Menu.astro"

const { BASE_URL } = import.meta.env
---

<header role="banner" class="sticky top-0 z-50 bg-gray-100">
  <nav
    role="navigation"
    class="container h-[--header-height] content-center items-center pt-[calc(var(--header-height)*0.2)] ~gap-4/8 md:flex"
  >
    <a
      href={BASE_URL}
      aria-label="Aller à la page d'accueil de Roland Potin Eizner"
      title="Aller à la page d'accueil de Roland Potin Eizner"
      class="block text-center font-daniel ~text-3xl/5xl"
    >
      Roland Potin Eizner
    </a>
    <Menu />
  </nav>
</header>
