---
import Menu from "../navigation/Menu.astro";
---

<header class="sticky top-0 z-50 bg-gray-200">
  <nav
    class="container mx-auto h-[--header-height] content-center items-center pt-[calc(var(--header-height)*0.2)] sm:flex sm:justify-between"
  >
    <a
      href="/astroland/"
      aria-label={`Go to Homepage`}
      class="block text-center font-daniel text-3xl sm:mr-auto sm:inline sm:w-auto sm:text-start md:text-4xl lg:text-5xl xl:text-6xl"
    >
      Roland Potin Eizner
    </a>
    <Menu />
  </nav>
</header>
