---
const path2lvldeep = (path: string) => path.split("/").slice(0, 3).join("/") + "/"
const paths = [
  {
    title: "Accueil",
    href: "/astroland/",
  },
  {
    title: "Peinture",
    href: "/astroland/painting/1/",
  },
  {
    title: "À propos",
    href: "/astroland/about/",
  },
]
---

<header class="py-4 md:py-10 sticky top-0 bg-inherit">
  <nav class="container mx-auto flex justify-between items-center">
    <span
      class="font-daniel text-2xl mr-auto sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
    >
      Roland Potin Eizner
    </span>
    {
      paths.map((path) => {
        const isCurrent = path2lvldeep(path.href) === path2lvldeep(Astro.url.pathname)
        return (
          <a
            href={path.href}
            aria-label={`Go to ${path.title} page`}
            class={`${isCurrent ? "text-gray-900" : "text-gray-600"} hover:text-gray-900 ml-4`}
          >
            {path.title}
          </a>
        )
      })
    }
  </nav>
</header>
