---
import Navigation from "../navigation/Navigation.astro"

const links = [
  {
    title: "Accueil",
    href: "/sleepy-star",
  },
  {
    title: "Peintures",
    href: "/sleepy-star/paintings",
  },
  {
    title: "À propos",
    href: "/sleepy-star/about",
  },
]
---

<header
  class="container sticky top-0 z-10 justify-between items-center py-2 mx-auto md:flex bg-inherit sm:gap-6 md:py-10 md:flex-row"
  transition:persist="header"
>
  <h1
    class="flex-shrink-0 text-2xl text-center md:text-start font-daniel sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
  >
    Roland Potin Eizner
  </h1>
  <Navigation links={links} />
</header>
