---
import Navigation from "../navigation/Navigation.astro"

const links = [
  {
    title: "Accueil",
    href: "/sleepy-star",
  },
  {
    title: "Peintures",
    href: "/sleepy-star/paintings",
  },
  {
    title: "À propos",
    href: "/sleepy-star/about",
  },
]
---

<header
  class="container flex sticky top-0 z-10 flex-col gap-2 justify-between items-center py-5 mx-auto bg-inherit sm:gap-6 sm:px-0 md:py-10 md:flex-row"
  transition:persist="header"
>
  <a
    title="Retourner sur la page d'accueil"
    href="/sleepy-star"
    class="flex-shrink-0 pt-4 text-2xl font-daniel sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
  >
    Roland Potin Eizner
  </a>
  <Navigation links={links} />
</header>
