---
import { ViewTransitions } from "astro:transitions"
import Navigation from "./Navigation.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/sleepy-star/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/sleepy-star/favicon-32x32.png"
      sizes="32x32"
    />
    <link rel="apple-touch-icon" type="image/png" href="/sleepy-star/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation
      links={[
        { name: "Homepage", href: "/sleepy-star" },
        { name: "Paintings", href: "/sleepy-star/paintings" },
        { name: "About", href: "/sleepy-star/about" },
      ]}
    />
    <slot />
  </body>
</html>
