---
const baseUrl = import.meta.env.BASE_URL
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname
  .slice(1)
  .split("/")[1] /** remove the first /, split the path by / and get the second element */

const paths = [
  {
    title: "Accueil",
    href: ""
  },
  {
    title: "Peinture",
    href: "painting/1/"
  },
  {
    title: "À propos",
    href: "about/"
  }
]
---

{
  paths.map(path => {
    const isCurrent = currentPath === path.href.split("/")[0] /** take only the part before the first / */
    return (
      <a
        href={baseUrl + path.href}
        aria-label={`Go to ${path.title}`}
        class={`${isCurrent ? "text-gray-900" : "text-gray-600"} hover:text-gray-900 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl`}
      >
        {path.title}
      </a>
    )
  })
}
