---
import { cn } from "../../utils"

const { BASE_URL } = import.meta.env
const { pathname } = new URL(Astro.request.url)

const paths = [
  {
    title: "Accueil",
    href: "",
  },
  {
    title: "Peinture",
    href: "painting/1/",
  },
  {
    title: "À propos",
    href: "about/",
  },
]
---

<ul
  aria-label="Menu"
  class="fixed bottom-0 left-0 right-0 z-50 flex w-auto items-center justify-around bg-gray-200 py-2 ~gap-6/8 md:static md:ml-auto md:h-auto md:justify-between md:bg-transparent md:py-0"
>
  {
    paths.map(path => {
      const isCurrent = pathname.split("/")[1] === path.href.split("/")[0]
      return (
        <li>
          <a
            href={BASE_URL + path.href}
            aria-label={`Aller à la page: ${path.title}`}
            title={`Aller à la page: ${path.title}`}
            aria-current={isCurrent ? "page" : "false"}
            class={cn("~text-base/2xl hover:text-gray-900", {
              "text-gray-950": isCurrent,
              "text-gray-600": !isCurrent,
            })}
          >
            {path.title}
          </a>
        </li>
      )
    })
  }
</ul>
