---
const { BASE_URL } = import.meta.env
const { pathname } = new URL(Astro.request.url)

const paths = [
  {
    title: "Accueil",
    href: ""
  },
  {
    title: "Peinture",
    href: "painting/1/"
  },
  {
    title: "À propos",
    href: "about/"
  }
]
---

{
  paths.map(path => {
    const isCurrent = pathname.split("/")[2] === path.href.split("/")[0]
    return (
      <a
        href={BASE_URL + path.href}
        aria-label={`Go to ${path.title}`}
        class={`${isCurrent ? "text-gray-950" : "text-gray-500"} hover:text-gray-900 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl`}
      >
        {path.title}
      </a>
    )
  })
}
