---
const { BASE_URL } = import.meta.env
const { pathname } = new URL(Astro.request.url)

const paths = [
  {
    title: "Accueil",
    href: "",
  },
  {
    title: "Peinture",
    href: "painting/1/",
  },
  {
    title: "À propos",
    href: "about/",
  },
]
---

<ul
  aria-label="Menu"
  class="fixed bottom-0 left-0 right-0 z-50 flex h-[--footer-height] w-auto items-center justify-around bg-gray-200 ~gap-6/8 md:static md:ml-auto md:h-auto md:justify-between md:bg-transparent"
>
  {
    paths.map(path => {
      const isCurrent = pathname.split("/")[1] === path.href.split("/")[0]
      return (
        <li>
          <a
            href={BASE_URL + path.href}
            aria-label={`Go to ${path.title}`}
            aria-current={isCurrent ? "page" : "false"}
            class={`${isCurrent ? "text-gray-950" : "text-gray-600"} ~text-base/2xl hover:text-gray-900`}
          >
            {path.title}
          </a>
        </li>
      )
    })
  }
</ul>
