---
import Link from "../navigation/Link.astro"

type Link = {
  title: string
  href: string
}

interface Props {
  links: Link[]
}

const { links } = Astro.props
---

<nav>
  <ul
    class="flex flex-row text-center flex-grow justify-between gap-4 md:gap-5 lg:gap-6 xl:gap-8 2xl:gap-10"
  >
    {
      links.map((link) => (
        <li>
          <Link title={link.title} href={link.href} />
        </li>
      ))
    }
  </ul>
  <a href="#main-content" class="fixed bottom-0 right-0 p-5 text-xl">Retour en haut de page</a>
</nav>
