---
interface Props {
  links: {
    title: string
    href: string
  }[]
}

const { links } = Astro.props
---

<nav>
  <ul
    class="flex flex-row flex-grow gap-4 justify-between text-center md:gap-5 lg:gap-6 xl:gap-8 2xl:gap-10"
  >
    {
      links.map((link) => (
        <li>
          <a href={link.href} class="block md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl">
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
