---
import Layout from "#layouts/Layout.astro"
import Testimony from "#components/testimony/testimony.astro"
import { Picture } from "astro:assets"
import atelier from "#assets/images/atelier-2000.jpg"

const baseUrl = import.meta.env.BASE_URL
---

<Layout title="Roland Potin Eizner.">
  <section class="container mx-auto mt-5 max-w-[65ch] px-2 md:mt-10 md:px-8 xl:max-w-[150ch]">
    <h1 class="text-center text-2xl font-bold lg:text-3xl">Bienvenue dans mon atelier.</h1>
    <div class="mt-5 md:mt-10 xl:grid xl:grid-cols-2 xl:gap-5">
      <Picture
        src={atelier}
        alt="Mon atelier à Lyon en 2000"
        pictureAttributes={{ class: "prose-img:my-0" }}
        class="border-4 border-gray-100 object-cover object-center shadow-2xl"
      />
      <div class="prose mt-10 xl:mt-0">
        <p>
          Après un apprentissage dans la veine de l'art de la Renaissance puis de l'art fantastique, j'opère une rupture
          radicale. Je me dirige ensuite vers une peinture plus libre sous la forme de tableaux cosmiques, de
          nébuleuses, d'autres sujets issus de mon imagination et de l'inventivité de ma main sur la toile.
        </p>
        <p>
          De là, se construit petit à petit une écriture qui me rapproche du mouvement psychédélique avec lequel je
          collabore, puis du milieu des peintres surréalistes avec lesquels je me lie d'amitiés fécondes. Mon chemin se
          précise alors, pendant une quarantaine d'années. Maintenant, je suis dans mon monde. Mon expression coule
          limpide.
        </p>
        <p>
          L'ensemble de mes tableaux constituent un opéra ininterrompu, écrit pour produire ce que j'appelle mon Graal
          quotidien. Rien n'est définitif et mon expression évolue vers une destinée qui me surprend encore chaque jour.
        </p>
        <p>L'horizon est ouvert.</p>
        <p class="text-end">Roland Potin Eizner</p>
      </div>
    </div>
    <a
      href=`${baseUrl}/painting/1`
      title="Commencer la visite"
      class="mx-auto my-10 block w-fit rounded-sm bg-gray-700 px-6 py-3.5 text-center text-base font-medium text-gray-50 no-underline hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 focus:outline-hidden"
      >Commencer la visite</a
    >
  </section>
  <Testimony />
</Layout>
