---
import Menu from "../navigation/Menu.astro"
---

<header role="banner" class="bg-gray-100 py-5">
  <nav role="navigation" class="container content-center items-center ~gap-4/8 md:flex">
    <a
      href="/"
      aria-label="Aller à la page d'accueil de Roland Potin Eizner"
      title="Aller à la page d'accueil de Roland Potin Eizner"
      class="block text-center font-daniel ~text-3xl/4xl"
    >
      Roland Potin Eizner
    </a>
    <Menu />
  </nav>
</header>
