<article class="prose max-w-none rounded-sm bg-gray-200/60 px-2 py-8 md:px-8">
  <h2 class="text-center">Témoignage d'Arthur Staskiewicz.</h2>
  <blockquote cite="https://fr.wikipedia.org/wiki/Lettres_du_voyant">
    <p>
      Le voyant se fait voyant par un long, immense et raisonné dérèglement de tous les sens. [...] Il arrive à
      l’inconnu, et quand, affolé, il finirait par perdre l’intelligence de ses visions, il les a vues ! [...] viendront
      d’autres horribles travailleurs; ils commenceront par les horizons où l’autre s’est affaissé !
    </p>
  </blockquote>
  <p class="text-end">—Arthur Rimbaud, <cite>Lettre du voyant</cite></p>
  <blockquote class="gap-8 sm:columns-2 lg:columns-3">
    <p class="mt-0">
      Enfant d’un siècle fou qui a définitivement vu s’ériger, par-delà les traumas qui l’ont traversé, la majesté
      matérialiste de l’esprit scientifique et ses tours d’ivoire intellectuelles, Roland Potin Eizner, lecteur d’Artaud
      ou des beatnicks américains, est de ceux qui sont parti un jour dans la direction opposée, à la conquête du vécu
      de l’être, aux portes de la perception, celles-là mêmes qu’a pu évoquer Aldous Huxley. Si l’on peut voir en lui un
      héritier du surréalisme, c’est avant tout par ce cheminement personnel, celui d’une liberté au prix de tous les
      périls. Et que reste-t-il aujourd’hui au penseur, et à l’artiste authentiques ? Quels territoires peuvent-ils
      encore hanter aujourd’hui, ceux-là mêmes qui ont été destitués d’un monde par trop matérialiste ? Il ne reste que
      l’œil et l’esprit: arpenter le monde visible en monde intérieur, loin des regards naïfs ou corrompus. Ainsi Roland
      Potin-Eizner nous donne à voir, et si c’est le propre de la peinture, peu d’artistes en prennent toute la mesure.
    </p>
    <p>
      C’est un habile metteur en scène, se jouant des différents plans qu’offre la perspective et dont les axes
      brouillent volontairement la compréhension du tableau comme aussi, ils savent se poursuivre et s’épanouir partout
      en dehors du tableau. Les formes qu’il présente au centre de ses tableaux, sculpturales et surréalistes, renvoient
      à la notion d’espace, à cette dimension transparente qu’il veut nous donner à voir dans et par la peinture. Elles
      renvoient finalement à tout sauf à elles-mêmes: elles sont l’expression de ce corps voyant, dépassé par l’espace
      de sa propre vision, sa potentialité spatiale et l’étendue de ses perceptions. Dans une mise en abîme révélatrice,
      le tableau observé, renvoie à l’espace du spectateur: la vie est mouvement, le tableau et celui qui le regarde en
      font partie, le spectateur est totalement englobé par cette allégorie. La forme n’est qu’un prétexte à tout ce qui
      la dépasse: le mouvement, le jeu, et la liberté. Là où la conscience s’épanouit et se rit de la matière…. Et
      encore, par-delà ces dédales et ces miroirs, le tableau et son sujet nous touchent intimement, c’est nous-même qui
      retrouvons, dans l’irisé et le flou qui font la matière même de la peinture, la douceur charnelle de la solitude
      de l’être, cette émotion, et ce langage sans paroles. Arthur Staskiewicz
    </p>
  </blockquote>
  <p class="text-end">—Arthur Staskiewicz</p>
</article>
