<article class="prose max-w-none rounded-sm bg-gray-200/30 px-2 text-lg md:px-8">
  <h2 class="text-center">Témoignage: Chantal Compin</h2>
  <p>S'il faut en croire certains tenants de la critique contemporaine, l'art est voué à une mort prochaine.</p>
  <p>
    En cette aube du XXIe siècle, il est permis, en effet, de se demander si la peinture à l'huile, puisqu'il s'agit
    d'elle ici, demeurera un médium privilégié comme elle l’a été jusqu’à maintenant.
  </p>
  <p>
    Dans tous les cas, nous pouvons lui prédire un bel avenir en contemplant l'œuvre de Roland Potin, qui, pour nous
    conforter dans cette pensée, ne craint pas d’employer les couleurs les plus franches et les plus persuasives.
  </p>
  <div class="my-8 gap-8 text-base sm:columns-2 lg:columns-3">
    <p class="mt-0">
      Foin de la monochromie, qui reflète notre pessimisme et notre angoisse, la rémanence du rouge et du jaune, opposés
      au bleu profond, a une vertu roborative des plus salutaires.
    </p>
    <p>
      Vibrations, fusions, magmas et vastes plages uniformes alternent sur la toile. Et pour les produire, le peintre
      possède une technique particulière. N'hésitant pas à broyer la matière directement sur le support à la main quand
      il n’adjoint pas des glacis au pinceau ou des aplats au couteau.
    </p>
    <p>
      Mystère pour le regardeur, cette alchimie. Les formes issues du hasard ou d'une longue élaboration ont un sens qui
      nous échappe. Que veut dire, en effet, ce réseau de lignes tubulaires, souples ou rigides, qui relient les
      extrémités de la toile ou qui transpercent les cloisonnements d'un espace aux multiples dimensions ?
    </p>
    <p>
      À la vue de <b>"La fiancée en difficulté"</b>, les érudits ne manqueront pas de faire référence à la "Femme
      chancelante" de Max Ernst. Mais notre souci d'interprétation n'en demeurera pas moins insatisfait, et ce ne sont
      pas les titres qui nous rendront la tâche plus aisée, jetant plutôt un voile supplémentaire qu'il nous faudra
      écarter.
    </p>
    <p>
      Ainsi, <b>"Les temps anciens"</b> sont-ils ceux des origines ou une projection dans l'avenir et le regard que porterons
      alors des êtres futurs sur notre époque ? N'y aurait-il pas une allusion à cette élasticité du temps dont l'homme ne
      fait que soupçonner les arcanes ?
    </p>
    <p>
      Il est certes possible de vivre sans se poser trop de questions fondamentales et de s'étourdir en s'adonnant à des
      plaisirs immédiats. Mais si le mouvement, la lumière, la sonorité qui cohabitent dans la plupart des tableaux de
      Roland Potin ont des accents de fête foraine, ne nous y trompons pas, il nous est offert bien plus à notre
      réflexion.
    </p>
    <p>
      Livrons-nous à la <b>"Méditation"</b>, loin du bruit et de la fureur, notre réalité quotidienne, laissons-nous
      guider par ces <b>"Maîtres à danser"</b> que sont nos yeux situés à quelques pas de l'œuvre qu'ils parcourent en zigzag.
      Viendra alors le moment où nous aurons le sentiment d'être sur un seuil qu'il nous faudra franchir pour un nouveau
      départ.
    </p>
  </div>
  <p>
    Antoni Tàpies dit qu'une peinture n'est pas un message mais un émetteur. À nous d'en capter les ondes sur la
    longueur qui nous est propre.
  </p>
  <p>
    Les ailes de chauve-souris qui survolent "La ville" ont souvent symbolisé les forces maléfiques. Roland Potin a su
    les apprivoiser pour qu'elles ne troublent pas notre délectation.
  </p>
  <p class="text-end text-base">Chantal Compin, Décembre 1994.</p>
</article>
