---
import ChantalCompin from "./Chantal-compin.astro"
import ArthurStaskiewicz from "./Arthur-staskiewicz.astro"
---

<section class="container mx-auto flex flex-col gap-10 md:px-8 xl:max-w-[150ch]">
  <ArthurStaskiewicz />
  <ChantalCompin />
</section>
