---
import ChantalCompin from "./chantal-compin.astro"
import ArthurStaskiewicz from "./arthur-staskiewicz.astro"
---

<section class="container mx-auto mt-5 flex max-w-[150ch] flex-col gap-10">
  <ChantalCompin />
  <ArthurStaskiewicz />
</section>
