---
import ChantalCompin from "./Chantal-compin.astro"
import ArthurStaskiewicz from "./Arthur-staskiewicz.astro"
---

<section class="prose prose-h2:text-center prose-blockquote:mt-20 container mx-auto space-y-10 xl:max-w-[150ch]">
  <ArthurStaskiewicz />
  <ChantalCompin />
</section>
