---
import Layout from "../../components/layouts/Layout.astro"
import Single from "../../components/painting/Single.astro"
import { getCollection } from "astro:content"

const collection = await getCollection("painting")
const paintings = collection.sort((a, b) => parseInt(b.data.year) - parseInt(a.data.year))
---

<Layout title="Peintures - Roland Potin Eizner.">
  <section class="space-y-32 md:space-y-80">
    {paintings.map((painting) => <Single painting={painting.data} />)}
  </section>
</Layout>
