---
import Layout from "../../components/layouts/Layout.astro"
import { getCollection } from "astro:content"
import Card from "../../components/Card.astro"

const paintingsCollection = await getCollection("paintings")
const paintings = paintingsCollection
  .map((painting) => painting.data)
  .sort((a, b) => b.year - a.year)
---

<Layout title="Roland Potin Eizner - Paintings.">
  <main>
    <div role="list">
      {paintings.map((painting) => <Card painting={painting} />)}
    </div>
  </main>
</Layout>
