---
import { ClientRouter } from "astro:transitions"
import Footer from "../components/footer/Footer.astro"
import Header from "../components/header/Header.astro"
import "../styles/global.css"
import { cn } from "../utils"

interface Props {
  title: string
  className?: string
}

const { title, className } = Astro.props
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Roland Potin Eizner artiste peintre" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-gray-50 text-gray-800">
    <div class="grid h-dvh grid-rows-[auto_1fr_auto]">
      <Header />
      <main
        id="scrollArea"
        role="main"
        class={cn("snap-y snap-mandatory motion-reduce:scroll-smooth overflow-y-scroll", className)}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
