---
import Favicons from "#components/Favicons.astro"
import Metadata from "#partials/common/Metadata.astro"
import Header from "./Header.astro"
import { cn } from "#lib/utils.ts"
import "#styles/global.css"
import { ClientRouter } from "astro:transitions"
import Analytics from "@vercel/analytics/astro"

interface Props {
  title: string
  className?: string
}

const { title, className } = Astro.props
---

<html lang="fr">
  <head>
    <Metadata />
    <Favicons />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-gray-50 text-gray-800">
    <div class="grid h-dvh grid-rows-[auto_1fr]">
      <Header />
      <main
        id="scrollArea"
        role="main"
        class={cn("snap-y snap-mandatory motion-reduce:scroll-smooth overflow-y-scroll mb-14 md:mb-0", className)}
      >
        <slot />
      </main>
    </div>
    <Analytics />
  </body>
</html>
