---
import Favicons from "#partials/common/Favicons.astro"
import Metadata from "#partials/common/Metadata.astro"
import Header from "./Header.astro"
import { cn } from "#lib/utils.ts"
import "#styles/global.css"

interface Props {
  title: string
  className?: string
}

const { title, className } = Astro.props
---

<html lang="fr">
  <head>
    <Metadata />
    <Favicons />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 text-gray-800">
    <div class="grid h-dvh grid-rows-[auto_1fr]">
      <Header />
      <main
        id="scrollArea"
        role="main"
        class={cn("snap-y snap-mandatory motion-reduce:scroll-smooth overflow-y-scroll px-2", className)}
        tabindex="0"
      >
        <slot />
      </main>
    </div>
  </body>
</html>

<!-- Google tag (gtag.js) -->

<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-6S9SG6EJ93"></script>
<script is:inline>
  /* eslint-disable */
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag("js", new Date())

  gtag("config", "G-6S9SG6EJ93")
  /* eslint-enable */
</script>
