---
import { ViewTransitions } from "astro:transitions"
import "../../styles/global.css"
import Footer from "../components/footer/Footer.astro"
import Header from "../components/header/Header.astro"

interface Props {
  title: string
}

const { BASE_URL } = import.meta.env
const { title } = Astro.props
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Roland Potin Eizner artiste peintre" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href=`${BASE_URL}favicon-16x16.png` sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href=`${BASE_URL}favicon-32x32.png` sizes="32x32" />
    <link rel="apple-touch-icon" type="image/png" href=`${BASE_URL}apple-touch-icon.png` />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex min-h-svh flex-col bg-gray-50 font-mono text-gray-800">
    <Header />
    <main role="main" class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
