---
import Favicons from "#partials/common/Favicons.astro"
import Metadata from "#partials/common/Metadata.astro"
import Posthog from "#partials/common/Posthog.astro"
import Header from "./Header.astro"
import { cn } from "#lib/utils.ts"
import "#styles/global.css"

interface Props {
  title: string
  className?: string
}

const { title, className } = Astro.props
---

<html lang="fr">
  <head>
    <Metadata />
    <Favicons />
    <title>{title}</title>

    <Posthog />
  </head>
  <body class="bg-gray-50 text-gray-800">
    <div class="grid h-dvh grid-rows-[auto_1fr]">
      <Header />
      <main
        id="scrollArea"
        role="main"
        class={cn("snap-y snap-mandatory motion-reduce:scroll-smooth overflow-y-scroll px-2", className)}
        tabindex="0"
      >
        <slot />
      </main>
    </div>
  </body>
</html>
