---
interface Props {
  links: {
    name: string
    href: string
  }[]
}
const { links } = Astro.props
---

<nav class="flex flex-row gap-4">
  {links.map((link) => <a href={link.href}>{link.name}</a>)}
</nav>
