---
import Picture from "astro/components/Picture.astro"
import photoRoland from "/src/assets/images/roland01.jpg"
---

<style>
  .resume-right::before,
  .resume-left::before {
    content: "";
    display: block;
    width: calc(100% * 2 / 3);
    aspect-ratio: 1 / 1;
  }
  .resume-right::before {
    shape-outside: circle(50% at left);
    float: left;
  }
  .resume-left::before {
    shape-outside: circle(50% at right);
    float: right;
  }
</style>

<section class="grid-stack">
  <div class="mx-auto w-1/3">
    <Picture
      src={photoRoland}
      alt="Roland souriant devant des tableaux"
      class="shape-circle aspect-square overflow-hidden rounded-full border-4 border-gray-100 object-cover object-center shadow-2xl"
    />
  </div>
  <div class="resume-left w-1/2 mr-auto">
    <p>
      Je suis né très petit, recroquevillé sur un monde bizarre. On m’a fait crier tout de suite et
      le monde fut immédiatement trop grand. J’ai aimé l’herbe et la lumière passante qui éclaire
      miraculeusement les petits insectes plein de pattes, d’ailes, d’yeux noirs et rouges dans les
      petits couloirs multiples qui donnaient vers d’autres mondes. Bientôt, il a fallu se mettre
      debout et parler, comme si cela allait de soi. Je retombais sur mon derrière et bégayais à
      l’infini. Mes cheveux blanc-blond furent coupés et l’école me mis debout. Il fallait se battre
      comme un garçon, je le fis avec trop de force pour être intelligible, cela me parut encore
      bizarre. Je fus gentil et muet. Un jour, je pénètre dans l’appartement puis le château du
      collectionneur Henri-Pierre Roché, et là, merveille je fais des rencontres extraordinaires:
      des tableaux, des sculptures, des objets multiples me font face, s’animent et me parlent.
    </p>
  </div>
  <div class="text-end resume-right w-1/2 ml-auto">
    <p>
      Ces jours là je parle avec eux, complice et joyeux, je suis dans mon monde. Plus tard,
      j’apprendrais que toutes ces œuvres étaient signées. Les signatures étaient entre autre,
      celles de Georges Braque, Constantin Brancusi, Marcel Duchamp, Pablo Picasso, Henry Moore,
      Etienne Martin, Marie Laurencin, Jean Tinguely, José Garcia Tella, Sanyu, etc. Je compris le
      sacré et la douleur et ma voie dans l’existence. Quelques années après, toujours muet et la
      mémoire pleine, je savais que la communication tant désirée se trouvait en moi. Tous ces
      personnages pouvaient me comprendre, avec eux aussi je pouvais discuter et échanger. L’acte de
      peindre me fut assez vite naturel. Mon destin pris en main fit le reste. La recherche du
      dialogue au travers de tableaux presque autobiographiques, mon Graal quotidien.
    </p>
    <cite class="mt-10 block">
      <p class="text-end">Roland Potin-Eizner</p>
    </cite>
  </div>
</section>
