---
import Single from "./Single.astro"

interface Props {
  paintings: {
    title: string
    year: number
    slug: string
    filename: string
    width: number
    height: number
  }[]
}

const { paintings } = Astro.props
---

<section>
  {paintings.map((painting) => <Single painting={painting} />)}
</section>
